
<div class="h1 mt-3 text-center">Welcome to My Shop</div>

<br/>

<div *ngIf="temperatures">
  <table class="table table-striped table-bordered table-responsive">
    <thead>
      <tr>
        <th class="h5">Date</th>
        <th class="h5">Temperature (C)</th>
        <th class="h5">Temperature (F)</th>
        <th class="h5">Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of temperatures">
        <td class="h6">{{t.date | date}}</td>
        <td class="h6">{{t.temperatureC}}</td>
        <td class="h6">{{t.temperatureF}}</td>
        <td class="h6">{{t.summary}}</td>
      </tr>
    </tbody>
  </table>
</div>
